# ----------------------------
# Python / build artifacts
# ----------------------------
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
.env/
.conda_env/
.mel-venv/

# ----------------------------
# OS files
# ----------------------------
.DS_Store

# ----------------------------
# Data / outputs (do not track)
# ----------------------------
data/
**/data_patient_*/
**/phasor_out/
**/phasor_qc/
**/calculate_phasor/
**/output/
**/instance_mask/